---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { LINKS } from '../../lib/constants'
import { Github, Mail, Rss, Gitlab } from 'lucide-react'
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faGithub, faGit} from '@fortawesome/free-brands-svg-icons'; // 如果是品牌图标
import { faHouseSignal } from '@fortawesome/free-solid-svg-icons'; //如果是实心图标
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-3">
  <div class="flex h-full w-full">
    <img
      width="300"
      height="300"
      src="/favicon.svg"
      class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100 rounded-full"
      alt="memoji of andres plaza"
    />
    <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
      <div class="flex h-full flex-col" style={{ justifyContent: 'center', display: 'flex', width: '100%', height: '100%' }}>
        <h1 class="hometitle">SanXiaoXing的博客</h1>
        <br>
        <div>
          <div class="box">
            <div class="word">欢迎来到快乐天地</div>
            <div class="word">在这里可以感受到我的快乐</div>
            <div class="word">天天开心呦~</div>
            
            <!-- 添加更多的 .word 元素 -->
          </div>
        </div>
      </div>

      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <FontAwesomeIcon icon={faGithub} className="icon"/>
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.gitee} aria-label="gitee profile" target="_blank">
          <Button aria-label="gitee profile">
            <!-- <Gitlab /> -->
            <FontAwesomeIcon icon={faGit} className="icon"/>
            <span class="sr-only">Gitee Profile</span>
          </Button>
        </a>
        <a href={LINKS.homepage} aria-label="homepage profile" target="_blank">
          <Button aria-label="homepage profile">
            <!-- <Gitlab /> -->
            <FontAwesomeIcon icon={faHouseSignal} className="icon"/>
            <span class="sr-only">homepage Profile</span>
          </Button>
        </a>
        <a href={LINKS.mail} aria-label="mail profile" target="_blank">
          <Button>
            <Mail />
            <span class="sr-only">Email contact</span>
          </Button>
        </a>
        <a href={LINKS.rss} aria-label="rss profile" target="_blank">
          <Button aria-label="rss profile">
            <Rss />
            <span class="sr-only">Rss Profile</span>
          </Button>
        </a>
      </div>
    </div>
  </div>
</Card>

<style is:global>
  .hometitle {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Future-mono';
    background: linear-gradient(220.55deg, #FFC328 0%, #E20000 100%);
    background-clip: border-box;
    background-size: 100% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .icon {
    width: 1.5rem; /* 调整为您想要的宽度 */
  }
  .box {
    font-size: 2rem; /* 设置字体大小为12px */
    font-family: "STFangsong", "宋体", serif; /* 使用宋体 */
    filter: contrast(24); /* 调整对比度 */
    position: relative;
    color: #a09b9b;
    user-select: none;
    display: flex; /* 使用flexbox布局让其居中 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

  .word {
    filter: blur(0);
    position: absolute;
    left: 0;
    /* top: 0; */
    animation: changeWord 16s infinite ease-in-out;
  }

    @keyframes changeWord {
    0%, 12.5%, 100% {
      opacity: 1;
      filter: blur(0);
    }
    37.5%, 62.5% {
      opacity: 0;
      filter: blur(64px);
    }
  }
  @media screen and (min-width: 640px) and (max-width: 1000px) {
    .hometitle {
      font-size: 2.25rem;
    } 
    .box {
      font-size: 1.5rem; /* 移动端字体大小为 1rem */
    }
    .word {
      font-size: 1.5rem; /* 移动端字体大小为 1rem */
    }
  }
    /* 设置移动端字体大小为1rem */
  @media (max-width: 639px) {
    .hometitle {
      font-size: 2rem;
    } 
    .box {
      font-size: 1.25rem; /* 移动端字体大小为 1rem */
    }
    .word {
      font-size: 1.25rem; /* 移动端字体大小为 1rem */
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const words = document.querySelectorAll('.word');
    const duration = 16; // 动画的总时间（秒）
    const delayIncrement = duration / words.length; // 每个词的延迟增量

    words.forEach((word, index) => {
      word.style.animationDelay = `-${index * delayIncrement}s`;
    });
  });
</script>